.info-button {
    background: $template-red;
    border: none;
    border-bottom: .6rem solid darken($template-red, 10%);
    color: white; 
    font-weight: bold; 
    font-size: $l-size;
    margin-bottom: $m-size; 
    padding: 1rem;
    width: 45%;
    text-align: left;
}