.info-button {
    background: $template-red;
    border: none;
    border-bottom: .6rem solid darken($template-red, 10%);
    color: white; 
    font-weight: bold; 
    font-size: $l-size;
    margin-top: $s-size;
    margin-bottom: $s-size; 
    padding: $s-size;
    width: 100%;
    text-align: left;
}