.info {
    background: $template-white;
    color: $template-black;
    padding: $m-size;
}
.info__header {
    background: $template-white;
    color: $template-black;
    padding: $m-size;
    border-bottom: 1px solid $template-red;
}